<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Irene Vasco Iglesias y Antonio Fernández Cáceres y se encuentra en el siguiente
    <a href="https://github.com/ivascoi?tab=repositories"> repositorio</a>.
</p>

<p align="center">
<img src="/images/foto_ella.png" />
<img src="/images/foto_el.jpg" />
</p>


